
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    .full-row {
        padding: 5px;
        border-bottom: 1px dotted #32c5d2;
        border-left: 1px solid #32c5d2;
        border-right: 1px solid #32c5d2;
    }

        .full-row.first {
            border-top: 1px solid #32c5d2;
            border-bottom: 1px solid #32c5d2;
        }

        .full-row.last {
            border-top: 1px solid #32c5d2;
            border-bottom: 1px solid #32c5d2;
        }

    .one-five {
        display: inline-block;
        width: 32%;
        text-align: left;
        overflow: hidden;
    }
</style>

<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <div class="page-title wow fadeInUp animated">
            <div class="hidden-xs-title">
                <span class="ln-english">Area list</span><span class="ln-bangla">হিসাবের তালিকা</span>
            </div>
        </div>

        <div class="page-bar wow fadeInUp animated">
            <ul class="page-breadcrumb">
                <li> <em class="icon-home"></em> <a href="~/ProjectDashboard"><span class="ln-bangla">প্রথম পাতা</span></a> <em class="fa fa-angle-right"></em> </li>
                <li>
                    <span class="ln-bangla">মাছ বিক্রির হিসাব</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE HEADER-->
        <div class="page-bar" style="padding-top: 3px; padding-bottom: 5px;">

            <div class="col-sm-12 search-responsive wow fadeInUp animated" style="padding-left: 8px; padding-top: 2px;">
                <div class="input-group" style="width: 100%">
                    <div class="form-group col-sm-3 col-md-2 col-sm-2 xs-nopadding-left">
                        <input type="checkbox" class="checkbox" id="chkSearchSwitch" />
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding">
                            <span class="ln-bangla">শুরুর তারিখ</span> <span class="required" aria-required="true"> * </span>
                        </label>
                        <input type="text" class="" id="formDate" />
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding">
                            <span class="ln-bangla">শেষ তারিখ</span> <span class="required" aria-required="true"> * </span>
                        </label>
                        <input type="text" class="" id="endDate" />
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding">
                            <span class="ln-bangla">প্রকল্পের নাম</span> <span class="required" aria-required="true"> * </span>
                        </label>
                        @(Html.Kendo().ComboBox()
                            .Name("projectComboBox")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .Placeholder("নির্ধারণ করুন")
                            .HtmlAttributes(new { style = "width: 100%;", id = "cmbProjectComboBox" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllProjectList", "AdminData");
                                });
                            })
                        )
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left">
                        <label class="control-label col-md-12 no-padding">
                            <span class="ln-bangla">বিক্রেতার নাম</span> <span class="required" aria-required="true"> * </span>
                        </label>
                        @(Html.Kendo().ComboBox()
                            .Name("projectComboBox")
                            .DataTextField("Name")
                            .DataValueField("ID")
                            .Placeholder("নির্ধারণ করুন")
                            .HtmlAttributes(new { style = "width: 100%;", id = "cmbSellerListComboBox" })
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAllFishSellerNameList", "AdminData");
                                });
                            })
                        )
                    </div>
                    <div class="form-group col-sm-3 col-md-2 xs-nopadding-left wow fadeInUp animated">
                        <label class="control-label col-md-12 no-padding">
                            &nbsp;
                        </label>
                        <div class="ln-bangla pull-left mr-5">
                            <input type="button" value="খুঁজুন" id="btnFindFishBn" class="btn btn-outline green custom-btn-green" onclick="SearchFishSellingReport();" />
                        </div>
                        <div class="ln-bangla pull-left">
                            <input type="button" value="পুন:স্থাপন" id="btnResetFishSearchBn" class="btn btn-outline green custom-btn-green" onclick="ResetFishSellingSearch();" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 wow fadeInUp animated">
                <div class="col-sm-10 col-xs-10">
                    <strong class="income-expenditure">বিক্রি: <span class="dummy_totalKG">0.00 কেজি</span></strong>
                    <strong class="income-expenditure">মূল্য: <span class="dummy_totalSellPrice">0.00 টাকা</span></strong>
                    <strong class="income-expenditure">পরিশোধ: <span class="dummy_pricePerKG">0.00 টাকা</span></strong>
                    <strong class="income-expenditure">বকেয়া: <span class="dummy_totalFishPieces">0 টাকা</span></strong>
                </div>

            </div>

        </div>


        <div class="portlet box green">
            <div class="portlet-title wow fadeInUp animated">
                <div class="caption">
                    <span class="ln-english">Manage Area</span><span class="ln-bangla">মাছ বিক্রির হিসাব</span>
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                </div>
            </div>
            <div class="portlet-body flip-scroll wow fadeInUp animated">
                <div id="divFishSellingReport" style="height: 550px;"></div>
            </div>
        </div>


    </div>
</div>

<div id="divDeleteModelApper" class="kendo-warning-popup">
    <p>আপনি কি এই প্রকল্পটি নিশ্চিত মুছে ফেলবেন? আপনি প্রকল্পটি মুছে ফেললে তা সম্পূর্ণরূপে হারিয়ে যাবে। আপনার সিদ্ধান্ত নিশ্চিত করুন। </p>
    <button type="button" class="btn btn-danger pull-right" onclick="DoDeleteYesComand();">নিশ্চিত</button>
    <button class="btn btn green pull-left" onclick="ClosenNotificationWindowFromButton();">না</button>
</div>



<script type="text/javascript">
    var sellerListComboBox;
    var projectComboBox;
    var fromDataComboBox;
    var endDatePicker;
    var startDate = "";
    var endDate = "";
    var areaId = "";
    var projectId = "";
    var sellerId = "";
    var isPartial = 1;
    var deltedId = 0;
    $(document).ready(function () {

        fromDataComboBox = $("#formDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            change: OnChangeEndDatePicker,
            value: new Date(new Date().setMonth(new Date().getMonth() - 1)),
        }).data("kendoDatePicker");

        endDatePicker = $("#endDate").kendoDatePicker({
            format: "dd/MM/yyyy",
            value: new Date(),
            change: OnChangeEndDatePicker
        }).data("kendoDatePicker");

        sellerListComboBox = $("#cmbSellerListComboBox").data("kendoComboBox");

        projectComboBox = $("#cmbProjectComboBox").data("kendoComboBox");


        $("#listFishSellerSystem").addClass("active");
        $(".dummy_user_no_found").hide();

        $(".k-grid table").addClass("table table-condensed");


        $("#chkSearchSwitch").bootstrapSwitch({
            size: null,
            offText: "আংশিক হিসাব",
            onText: "সম্পূর্ণ হিসাব",
            offColor: "primary",
            onColor: "default",
            onSwitchChange: OnChangeSearchSwitch
        });


        SearchFishSellingReport();



        document.onkeydown = function (event) {
            if (event.keyCode == 13) {
                $("#btnFindUser").click();
                return false;
            }
        }

        if ('@ViewBag.InformationMessage' != null && '@ViewBag.InformationMessage' != '') {
            ShowAjaxNotificationMessage("সফল", '@ViewBag.InformationMessage', "success");
        }

        if ('@ViewBag.DeleteInformationMessage' != null && '@ViewBag.DeleteInformationMessage' != '') {
            ShowAjaxNotificationMessage("দুঃখিত", '@ViewBag.DeleteInformationMessage', "warning");
        }
    });


    function OnChangeEndDatePicker() {
        var startDateVl = fromDataComboBox.value();
        var endDateVl = endDatePicker.value();

        if (startDateVl && endDateVl && (startDateVl > endDateVl)) {
            ShowAjaxNotificationMessage("দুঃখিত", "শেষ তারিখ থেকে শুরুর তারিখ ছোট হবে !", "warning");
        }

    }

    function OnChangeSearchSwitch() {
        if ($("#chkSearchSwitch").is(':checked')) {
            sellerListComboBox.value("");
            sellerListComboBox.enable(false);
            projectComboBox.value("");
            projectComboBox.enable(false);
            fromDataComboBox.value("");
            fromDataComboBox.enable(false);
            endDatePicker.value("");
            endDatePicker.enable(false);
        } else {
            sellerListComboBox.enable();
            projectComboBox.enable();
            fromDataComboBox.enable();
            endDatePicker.enable();
        }
    }



    function SearchFishSellingReport() {

        var isPartial = 1;
        if ($("#chkSearchSwitch").is(':checked')) {
            isPartial = 0;
        }

        if (fromDataComboBox && fromDataComboBox.value()) {
            startDate = kendo.toString(new Date(fromDataComboBox.value()), "MM/dd/yyyy");
        } else {
            startDate = "";
        }

        if (endDatePicker && endDatePicker.value()) {
            endDate = kendo.toString(new Date(endDatePicker.value()), "MM/dd/yyyy");
        } else {
            endDate = "";
        }

        if (sellerListComboBox) {
            sellerId = sellerListComboBox.value();
        } else {
            sellerId = ""
        }
        if (projectComboBox) {
            projectId = projectComboBox.value();
            var selectedItem = projectComboBox.dataItem(projectComboBox.select());
            if (selectedItem && selectedItem.AreaId) {
                areaId = selectedItem.AreaId
            } else {
                areaId = "";
            }
        } else {
            projectId = "";
            areaId = "";
        }



        var startDateVl = fromDataComboBox.value();
        var endDateVl = endDatePicker.value();

        if (startDateVl && endDateVl && (startDateVl > endDateVl)) {
            ShowAjaxNotificationMessage("দুঃখিত", "শেষ তারিখ থেকে শুরুর তারিখ ছোট হবে !", "warning");
            return false;
        }

        if (isPartial == 1 && startDate == "" && endDate == "" && fishId == "" && projectId == "") {
            ShowAjaxNotificationMessage("দুঃখিত", "আপনাকে কমপক্ষে যে কোন একটি অনুসন্ধান মাধ্যম  বেছে  নিতে হবে।", "warning");
            return false;
        }
        $.get("/AdminData/GetTotalFishSellingSellerReportForAdminByParams", { startDate: startDate, endDate: endDate, isPartial: isPartial, projectId: projectId, sellerId: sellerId }, function (dataItem) {

            var all = dataItem;
            if (dataItem) {
                if (dataItem.TotalSellInKg) {
                    $(".dummy_totalKG").text(dataItem.TotalSellInKg + " কেজি");
                }

                if (dataItem.TotalSellPrice) {
                    $(".dummy_totalSellPrice").text(dataItem.TotalSellPrice + " টাকা");
                }

                if (dataItem.FishAmountPaid) {
                    $(".dummy_pricePerKG").text(dataItem.FishAmountPaid + " টাকা");
                }

                if (dataItem.FishAmountDue) {
                    $(".dummy_totalFishPieces").text(dataItem.FishAmountDue + " টাকা");
                }
            }
        });

        $.get("/AdminData/GetFishSellingSellerReportForAdminByParams", { startDate: startDate, endDate: endDate, isPartial: isPartial, projectId: projectId, sellerId: sellerId }, function (data) {

            var dataSourceGrid = new kendo.data.DataSource({
                data: data.Data,
                pageSize: 10
            });

            $("#divFishSellingReport").empty();
            var existingGrid = $('#divFishSellingReport').data('kendoGrid');
            if (typeof existingGrid !== "undefined") {
                existingGrid.destroy();
            }

            $("#divFishSellingReport").kendoGrid({
                dataSource: dataSourceGrid,
                height: 550,
                reorderable: true,
                resizable: true,
                filterable: true,
                columnMenu: true,
                sortable: true,
                scrollable: {
                    virtual: true
                },
                selectable: "multiple cell",
                allowCopy: true,
                pageable: {
                    refresh: true,
                    numeric: true,
                    previousNext: true
                },
                columns: [
                 {
                     field: "SellDate",
                     title: "বিক্রির তারিখ",
                 },
                 {
                     field: "Name",
                     title: "নাম",
                 },
                 {
                     field: "totalAmount",
                     title: "মোট মূল্য",
                     template: "#: totalAmount # টাকা"
                 },
                 {
                     field: "PaidAmount",
                     title: "প্রদান",
                     template: "#: PaidAmount # টাকা"
                 },
                 {
                     field: "DueAmount",
                     title: "বকেয়া",
                     template: "#: DueAmount # টাকা"
                 },
                 {
                     field: "ProjectName",
                     title: "প্রকল্প "
                 },
                 {
                     template: '<a class="k-button k-button-icontext review-button" date="#= SDate #" onclick="Download(this, #= FishSellId #);">ডাউনলোড</a> <a class="k-button k-button-icontext review-button" seller="#=FishSellerId#" projectid="#=projectid#" date="#= SellDate #" onclick="ShowThisDataDetails(#= FishSellId #, this);">বিবরণ</a>'
                 }

                ],
                selectable: true

            });

            $("#divFishSellingReport .k-pager-refresh.k-link").click();
        });
    }

    function Download(element, fishSellId) {
        var Date = $.trim($(element).attr("date"));
        window.location.href = "/PDFGenerate/DownloadSellerPDF/" + fishSellId + "/" + Date;
    }

    function ShowThisDataDetails(sellId,element) {
        var FishSellerId = $.trim($(element).attr("seller"));
        var projectid = $.trim($(element).attr("projectid"));
        var Date = $.trim($(element).attr("date"));

        $.get("/PDFGenerate/GetSellerPDFInfo", { fishSellId: sellId }, function (data) {
           
            if (data.Sell) {
                var stringBuilder = "<div class='full-row first'> <div class='one-five'>নাম</div><div class='one-five'>ওজন</div><div class='one-five'>মূল্য</div></div>";
                for (item = 0; item < data.Sell.length; item++) {
                    stringBuilder = stringBuilder + "<div class='full-row'> <div class='one-five'>" + data.Sell[item].FishName + "</div><div class='one-five'>" + data.Sell[item].TotalFishkg + " কেজি</div><div class='one-five'>" + data.Sell[item].TotalSellPrice + " টাকা</div></div>";
                }

                if (data.TotalSell) {
                    stringBuilder = stringBuilder + "<div class='full-row first'><div class='one-five'>মূল্য</div><div class='one-five'>পরিশোধি</div><div class='one-five'>বকেয়া</div></div>";
                    stringBuilder = stringBuilder + "<div class='full-row last'><div class='one-five'>" + data.TotalSell.TotalAmount + " টাকা</div><div class='one-five'>" + data.TotalSell.PaidAmount + " টাকা</div><div class='one-five'>" + data.TotalSell.DueAmount + " টাকা</div></div>";
                }
                ShowAjaxNotificationMessage(Date, stringBuilder, "", "800px");
            } else {
                ShowAjaxNotificationMessage("দুঃখিত", "দুঃখিত, কিছু সমস্যা আছে।", "warning");
            }

        });
    }

    function ResetFishSellingSearch() {
        $("#chkSearchSwitch").bootstrapSwitch('state', false);
        fromDataComboBox.value(new Date(new Date().setMonth(new Date().getMonth() - 1)));
        endDatePicker.value(new Date());
        sellerListComboBox.value("");
        projectComboBox.value("");
        SearchFishSellingReport();
    }

</script>
