@using Services.Domain.Accounts.Models.FeedDistribute;
@model FeedDistributionTableDataModal
@{
    ViewBag.Title = "NewDistribution";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar wow fadeInUp animated">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="~/ProjectDashboard"><span class="ln-bangla">প্রথম পাতা</span></a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="~/SellOfFeed"><span class="ln-bangla">খাদ্য ক্রয়ের হিসাব</span></a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="ln-bangla">নতুন হিসাব যুক্ত করুন</span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="profile-sidebar">
                    <div class="portlet light profile-sidebar-portlet wow fadeInUp animated ">

                        <div class="div-add-logo-header wow fadeInUp animated">
                            <span class="spn-add-logo-title"><span class="ln-english">Area Image</span><span class="ln-bangla">হিসাবের ছবি</span></span>
                        </div>

                        <div class="profile-userpic wow fadeInUp animated">

                            <div class="dummy_UserImageContainerDiv">
                                <img src="@Url.Content("~/assets/global/img/rams-logo.jpeg")" id="divDefaultUploadedUserImg" class="img-responsive" alt="User Logo">
                            </div>

                        </div>

                        <div class="profile-usermenu wow fadeInUp animated">
                            <ul class="nav">
                                <li class="active">
                                    <a style="cursor:default !important" href="javascript:;">
                                        <i class="icon-settings"></i> <span class="ln-bangla">নতুন হিসাব যুক্ত করুন</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12 portlet light">
                            <div class="portlet light right-panelbar">
                                <div class="portlet-title tabbable-line wow fadeInUp animated">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase"><span class="ln-bangla">নতুন হিসাব যুক্ত করুন</span></span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        @using (Html.BeginForm("EditFeedDistributionReport", "FeedDistribute", FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateFeed", role = "form", @autocomplete = "off", enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-wizard dummy_assessment_information_body">
                                                <div class="form-body">
                                                    @Html.HiddenFor(m => m.feedDistributionTableDoamain.FeedDistributionReportId)

                                                    @*<div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">হিসাবের নাম</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionName, new { @class = "form-control", id = "txtSellingReportName", autocomplete = "off", })
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">হিসাবের নাম লিখুন</span></span>
                                                        </div>
                                                    </div>*@


                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">তারিখ</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().DatePicker()
                                                               .Name("datepiker")
                                                              .Value(ViewBag.FeedDistributionDate)
                                                              .Max(DateTime.Now)
                                                              .HtmlAttributes(new { style = "width: 100%", title = "datepicker", id = "txtClnDistributionDate" }))
                                                            @Html.HiddenFor(m => m.feedDistributionTableDoamain.FeedDistributionDate, new { id = "hdnFeedDistributionDate" })
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">হিসাবের নাম লিখুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">খাদ্যের নাম</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().ComboBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionFeedId)
                                                              .DataTextField("Name")
                                                              .DataValueField("ID")
                                                              .HtmlAttributes(new { style = "width:100%;", id = "txtCmbFeedNameList" })
                                                              .DataSource(source =>
                                                              {
                                                                  source.Read(read =>
                                                                  {
                                                                      read.Action("GetFeedAllList", "FeedDistribute");
                                                                  });
                                                              })
                                                            )
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">খাদ্যের নাম নিশ্চিত করুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">খাদ্যের ধরনের নাম</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input type="text" class="form-control" id="txtCmbFeedCategoryList" style="width: 100%;" />
                                                            @Html.HiddenFor(m => m.feedDistributionTableDoamain.FeedDistributionFeedategoryId, new { id = "hdnFeedDistributionFeedategoryId" })
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">খাদ্যের ধরন নিশ্চিত করুন</span></span>
                                                        </div>
                                                    </div>

                                                    @*<div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">পরিমান</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().ComboBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionQuantityId)
                                                              .Placeholder("")
                                                              .DataTextField("Text")
                                                              .DataValueField("Value")
                                                              .BindTo(new List<SelectListItem>() {
                                                                  new SelectListItem() {
                                                                    Text = "20 কেজি", Value = "20"
                                                                  },
                                                                  new SelectListItem() {
                                                                    Text = "25 কেজি", Value = "25"
                                                                  },
                                                                  new SelectListItem() {
                                                                    Text = "30 কেজি", Value = "30"
                                                                  },

                                                                  new SelectListItem() {
                                                                    Text = "40 কেজি", Value = "40"
                                                                  },
                                                                  new SelectListItem() {
                                                                    Text = "50 কেজি", Value = "50"
                                                                  }
                                                              })
                                                              .Suggest(true)
                                                              .HtmlAttributes(new { style = "width:100%;", id = "txtCmbWeightOfSack" })

                                                            )
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">খাদ্যের পরিমান নিশ্চিত করুন</span></span>
                                                        </div>
                                                    </div>*@

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-bangla">পরিমান</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionQuantityId)
                                                            .Format("#.00 কেজি")
                                                            .Events(e => e
                                                                 .Change("DoCalculationTotalWeightFormWeightCombo")
                                                                 .Spin("DoCalculationTotalWeightFormWeightCombo")
                                                            )
                                                            .Min(0)
                                                            .Max(99999999)
                                                            .Step(1)
                                                            .Placeholder("0.00 কেজি")
                                                            .HtmlAttributes(new { style = "width: 100%", title = "numeric", id = "txtCmbWeightOfSack" })
                                                            )
                                                            <span class="validation-message-color" id="#spnSellingReportName"><span class="ln-bangla">খাদ্যের পরিমান নিশ্চিত করুন</span></span>
                                                        </div>
                                                    </div>




                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-bangla">বস্তার সংখ্যা</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionSakNumber)
                                                            .Format("#.00 টা")
                                                            .Events(e => e
                                                                 .Change("DoCalculationTotalWeightFormWeightCombo")
                                                                 .Spin("DoCalculationTotalWeightFormWeightCombo")
                                                            )
                                                            .Min(0)
                                                            .Max(99999999)
                                                            .Step(1)
                                                            .Placeholder("0.00 টা")
                                                            .HtmlAttributes(new { style = "width: 100%", title = "numeric", id = "txtNumFeedSackNumber" })
                                                            )
                                                            <span class="validation-message-color" id="#spnSellingFeedReportNumber"><span class="ln-bangla">বস্তার সংখ্যা নির্ধারণ করুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-bangla">মোট ওজন</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().NumericTextBoxFor(m => m.feedDistributionTableDoamain.FeedDistributionTotalWeight)
                                                            .Format("#.00 কেজি")
                                                            .Min(0)
                                                            .Max(99999999)
                                                            .Step(1)
                                                            .Placeholder("0.00 কেজি")
                                                            .HtmlAttributes(new { style = "width: 100%", title = "numeric", id = "txtNumFeedTotalWeight", @readonly = "true" })
                                                            )
                                                            <span class="validation-message-color" id="#spnSellingFeedReportNumber"><span class="ln-bangla">মোট ওজন নির্ধারণ করুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Time</span><span class="ln-bangla">নোট </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @(Html.Kendo().EditorFor(m => m.feedDistributionTableDoamain.FeedDistributionDescription)
                                                             .HtmlAttributes(new { style = "width:100%;height:150px;", @class = "form-control", aria_label = "editor", id = "CompanyDetails" })
                                                             .Resizable(resizable => resizable.Content(false).Toolbar(true))
                                                             .Tools(tools => tools.Clear()
                                                             .InsertUnorderedList()
                                                             .Bold().Italic().Underline()
                                                             .InsertOrderedList().CreateLink()
                                                             ))
                                                        </div>
                                                    </div>

                                                    <div class="row wow fadeInUp animated">
                                                        <div class="col-md-12 footer-button-btm-24">
                                                            <a class="btn btn-outline green dummy_back_btn pull-left" href="~/FeedDistribute" id="btnBack"><span id="spnBack"><span class="ln-english">Back</span><span class="ln-bangla">ফেরত যান</span> </span></a>
                                                            <button class="btn green pull-right" type="submit" onclick="return DoThisFormValidation();"> <span class="ln-english">Save</span><span class="ln-bangla">সংরক্ষণ করুন</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>

                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    var feedId;
    var feedListComboBox;
    var feedCategoryList;
    var feedWeightPerSackList;
    var distributionDatePicker;
    var sackNumberPicker;
    var totalWeightPicker;
    $(document).ready(function () {
        $(".dummy_default_0").val("5");
        $("#lstFeedDistributeLink").addClass("active");
        
        feedListComboBox = $("#txtCmbFeedNameList").data("kendoComboBox");
        feedWeightPerSackList = $("#txtCmbWeightOfSack").data("kendoNumericTextBox");
        distributionDatePicker = $("#txtClnDistributionDate").data("kendoDatePicker");
        sackNumberPicker = $("#txtNumFeedSackNumber").data("kendoNumericTextBox");
        totalWeightPicker = $("#txtNumFeedTotalWeight").data("kendoNumericTextBox");

        LoadFeedCategoryComboBox(feedListComboBox.value());
        
        feedListComboBox.bind("change", function () {
            $("#hdnFeedDistributionFeedategoryId").val("");
            feedCategoryList.value("");
            if ((feedListComboBox.selectedIndex === -1 && feedListComboBox.value()) || feedListComboBox.value() == "") {
                feedId = 0;
                LoadFeedCategoryComboBox(feedId);
                $("#divDefaultUploadedUserImg").attr("src", "/assets/global/img/rams-logo.jpeg");
            }
            else {
                feedId = feedListComboBox.value();
                LoadFeedCategoryComboBox(feedId);
                var selectedItem = feedListComboBox.dataItem(feedListComboBox.select());
                if (selectedItem) {
                    $("#divDefaultUploadedUserImg").attr("src", "/" + selectedItem.ImageUrl);
                }
            }
        });

        setTimeout(function () {
            if ((feedListComboBox.selectedIndex === -1 && feedListComboBox.value()) || feedListComboBox.value() == "") {
                $("#divDefaultUploadedUserImg").attr("src", "/assets/global/img/rams-logo.jpeg");
            }
            else {
                var selectedItem = feedListComboBox.dataItem(feedListComboBox.select());
                if (selectedItem) {
                    $("#divDefaultUploadedUserImg").attr("src", "/" + selectedItem.ImageUrl);
                }

            }
        }, 500);


        //feedWeightPerSackList.bind("change", function () {
        //    if ((feedWeightPerSackList.selectedIndex === -1 && feedWeightPerSackList.value()) || feedWeightPerSackList.value() == "") {
        //        DoCalculationTotalWeightFormWeightCombo("");
        //    }
        //    else {
        //        var id = feedWeightPerSackList.value();
        //        DoCalculationTotalWeightFormWeightCombo(id);
        //    }
        //});



        

    });


    function DoCalculationTotalWeightFormWeightCombo(val) {
        var sliceText = feedWeightPerSackList.value();
        if (sliceText != "") {
            var sackNumber = sackNumberPicker.value();
            if (sackNumber && sackNumber > 0 && sliceText && sliceText > 0) {
                var weight = (sackNumber * sliceText);
                totalWeightPicker.value(weight);
            } else {
                totalWeightPicker.value("");
            }
        } else {
            totalWeightPicker.value("");
        }
    }



    function LoadFeedCategoryComboBox(feedId) {


        $.get("/FeedDistribute/GetFeedCategoryListByFeedId", { feedId: feedId }, function (data) {

            var dataSourceGrid = new kendo.data.DataSource({
                data: data,
            });

            $("#txtCmbFeedCategoryList").kendoComboBox({
                placeholder: "",
                dataTextField: "FeedCategoryName",
                dataValueField: "FeedCategoryId",
                filter: "contains",
                autoBind: false,
                dataSource: dataSourceGrid
            });

            feedCategoryList = $("#txtCmbFeedCategoryList").data("kendoComboBox");

            if (data && data.length > 0) {
                feedCategoryList.enable();
            } else {
                feedCategoryList.enable(false);
            }
            feedCatID = $("#hdnFeedDistributionFeedategoryId").val();
            feedCategoryList.value(feedCatID);
        });

    }


    function DoThisFormValidation() {

        var isFormValid = true;
        $(".dummy_fields_error_msg").hide();
        $("#divExistingEmailMessage,.validation-message-color").hide();

        var sellDate = distributionDatePicker.value()
        if (distributionDatePicker && sellDate) {
            var dateString = kendo.toString(new Date(sellDate), "MM/dd/yyyy");
            $("#hdnFeedDistributionDate").val(dateString);
        } else {
            $("#hdnFeedDistributionDate").val("");
        }


        var dateText = $.trim($("#hdnFeedDistributionDate").val());
        // var fishName = $.trim($("#txtSellingReportName").val());
        var feedWeight = feedWeightPerSackList.value();
        var sackNumber = sackNumberPicker.value();
        var totalWeight = totalWeightPicker.value();



        //if (typeof fishName === 'undefined' || fishName == "") {
        //    isFormValid = false;
        //    $("#txtSellingReportName").closest("div").find('span').css("display", "block");
        //}

        if (typeof dateText === 'undefined' || dateText == "") {
            isFormValid = false;
            $("#txtClnDistributionDate").closest("div").find('span').css("display", "block");
        }

        if (feedListComboBox.selectedIndex === -1 && feedListComboBox.value() || feedListComboBox.value() == "" || feedListComboBox.value() == null) {
            isFormValid = false;
            $("#txtCmbFeedNameList").closest("div").find('span').css("display", "block");
        }

        if (feedCategoryList.selectedIndex === -1 && feedCategoryList.value() || feedCategoryList.value() == "" || feedCategoryList.value() == null) {
            isFormValid = false;
            $("#txtCmbFeedCategoryList").closest("div").find('span').css("display", "block");
        }
        $("#hdnFeedDistributionFeedategoryId").val(feedCategoryList.value());
        //if (feedWeightPerSackList.selectedIndex === -1 && feedWeightPerSackList.value() || feedWeightPerSackList.value() == "" || feedWeightPerSackList.value() == null) {
        //    isFormValid = false;
        //    $("#txtCmbWeightOfSack").closest("div").find('span').css("display", "block");
        //}

        if (feedWeight == null || feedWeight == "" || feedWeight <= 0) {
            isFormValid = false;
            $("#txtCmbWeightOfSack").closest("div").find('span').css("display", "block");
        }

        if (sackNumber == null || sackNumber == "" || sackNumber <= 0) {
            isFormValid = false;
            $("#txtNumFeedSackNumber").closest("div").find('span').css("display", "block");
        }

        if (totalWeight == null || totalWeight == "" || totalWeight <= 0) {
            isFormValid = false;
            $("#txtNumFeedTotalWeight").closest("div").find('span').css("display", "block");
        }
        return isFormValid;

    }



</script>