@using Services.Domain.Models.User.EditorModel
@model SignUpModel

@{
    ViewData["Title"] = "Chabagan Fishing | A Model Fish House | Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<style type="text/css">
    .login-danger-message {
        margin-left: -16px;
        margin-bottom: -16px;
        margin-top: -5px;
    }
</style>

<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 login-container bs-reset">
            <div class="login-content" style="margin-top: 160px;">
                <div class="row">
                    <h1>Reset Password</h1>
                </div>
                <div class="row">
                    <p>Risk Assessments, Method Statements, COSHH Assessments</p>
                </div>

                @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, new { role = "form", @autocomplete = "off", id = "frmForgotPassword", @class = "form-horizontal", enctype = "multipart/form-data" }))
                {
                @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-xs-12 right-pad0" style="padding-right: 0px">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control form-group", placeholder = "Enter Your New Password", type = "password", required = "required", title = "Password is required." })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 right-pad0" style="padding-right: 0px">
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control form-group", placeholder = "Enter Your Confirmation Password", type = "password", required = "required", title = "Confirmation Password is required." })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    @Html.HiddenFor(m => m.UserID, new { id = "hdnUserID" })
                    @Html.HiddenFor(m => m.UserRegistartionGuid, new { id = "hdnUserGuidID" })

                    <div class="row" style="margin-top: 10px;">
                        <div class="col-sm-6 text-left">
                            <button class="btn green" type="submit" style="margin-bottom: 10px;margin-left: -15px;">Reset Password</button>
                        </div>
                        <div class="col-sm-6 text-right">
                            <a href="~/Login/Index" class="btn btn-outline purple">Back to Sign In</a>
                        </div>
                    </div>
                }

            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="icon-social-twitter"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; RAMs App 2017</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 bs-reset">
            <div class="login-bg"> </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {


    });//end document ready

</script>