@using Services.Domain.CreateSegement.Models.Area
@model CreateSegmentAreaModel

@{
    ViewData["Title"] = "CreateNewCompanyAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <div class="page-bar wow fadeInUp animated">
            <ul class="page-breadcrumb">
                <li>
                    <i class="icon-home"></i>
                    <a href="~/Dashboard"><span class="ln-english">Dashboard</span><span class="ln-bangla">প্রথম পাতা</span></a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="~/CreateSegment/Area"><span class="ln-english">Area</span><span class="ln-bangla">প্রকল্প</span></a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <span class="ln-english">Add New Feed</span><span class="ln-bangla">প্রকল্প সম্পাদন করুন </span>
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="profile-sidebar">
                    <div class="portlet light profile-sidebar-portlet wow fadeInUp animated ">

                        <div class="div-add-logo-header wow fadeInUp animated">
                            <span class="spn-add-logo-title"><span class="ln-english">Area Image</span><span class="ln-bangla">প্রকল্পের ছবি</span></span>
                        </div>

                        <div class="profile-userpic">

                            @{
                                var imageURL = "";
                                var imageTitle = "";
                                if (Model.CreateSegmentArea.ImageUrl != null && Model.CreateSegmentArea.ImageUrl != null)
                                {
                                    imageURL = "" + Model.CreateSegmentArea.ImageUrl;
                                    imageTitle = Model.CreateSegmentArea.ImageUrl;
                                }
                                if (Model.CreateSegmentArea.ImageUrl == null || Model.CreateSegmentArea.ImageUrl == null)
                                {
                                    imageURL = "/rams-logo.png";
                                    imageTitle = "rams-logo.png";
                                }



                            }

                            <div class="dummy_UserImageContainerDiv wow fadeInUp animated">
                                <img src="@Url.Content("~/"+ @imageURL +"")" id="divDefaultUploadedUserImg" class="img-responsive" alt="User Logo" title="@imageTitle">
                            </div>

                        </div>

                        <div class="form-group col-sm-12">
                            <div class="col-sm-12 wow fadeInUp animated">
                                <div>
                                    <br />
                                    @using (Html.BeginForm("UploadFishImage", "CreateSegment", FormMethod.Post, new { @class = "form-horizontal", id = "frmC", role = "form", @autocomplete = "off", enctype = "multipart/form-data" }))
                                    {
                                        @(Html.Kendo().Upload()
                                                        .Name("files")
                                                        .Async(a => a
                                                            .Save("UploadAreaImage", "CreateSegment")
                                                            .AutoUpload(true)
                                                        )
                                                        .Multiple(false)
                                                        .DropZone("CompanyAdminImageUploader")
                                                        .Events(events => events
                                                        .Select("onSelect")
                                                        .Success("onSuccess")
                                                        .Error("OErrorHandle")
                                                        )
                                                        .Messages(mess => mess.Select("প্রকল্পের ছবি যুক্ত করুন"))
                                                        .HtmlAttributes(new { id = "CompanyAdminUploader_UP" })
                                                        .Validation(validation =>
                                                        {
                                                            validation.AllowedExtensions(new string[] { ".jpg", ".jpeg", ".png", ".gif" });
                                                            validation.MaxFileSize(512000);//500KB max
                                                        })
                                        )
                                    }

                                </div>

                            </div>

                        </div>

                        <div class="profile-userbuttons" style="display:inline-block;">

                        </div>

                        <div class="profile-usermenu wow fadeInUp animated">
                            <ul class="nav">
                                <li class="active">
                                    <a style="cursor:default !important" href="javascript:;">
                                        <i class="icon-settings"></i> <span class="ln-english">Edit Area Segment Create</span><span class="ln-bangla">প্রকল্প সম্পাদন করুন</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-12 portlet light">
                            <div class="portlet light right-panelbar">
                                <div class="portlet-title tabbable-line wow fadeInUp animated">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        <span class="caption-subject font-blue-madison bold uppercase"><span class="ln-english">Edit Area Item</span><span class="ln-bangla">প্রকল্প সম্পাদন করুন</span></span>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="tab-content">
                                        @using (Html.BeginForm("EditSegmentArea", "CreateSegment", FormMethod.Post, new { @class = "form-horizontal", id = "frmCreateFeed", role = "form", @autocomplete = "off", enctype = "multipart/form-data" }))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="form-wizard dummy_assessment_information_body">
                                                <div class="form-body">

                                                    @Html.HiddenFor(m => m.CreateSegmentArea.ID)
                                                    @Html.HiddenFor(m => m.CreateSegmentArea.ImageUrl, new { id = "dummy_userImagePath" })

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Area Name</span><span class="ln-bangla">প্রকল্পের নাম</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(m => m.CreateSegmentArea.Name, new { @class = "form-control", id = "FishName", autocomplete = "off", vldid = "#spnFishName" })
                                                            <span class="validation-message-color" id="#spnFishName"><span class="ln-bangla">প্রকল্পের নাম লিখুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Union</span><span class="ln-bangla">ইউনিয়ন</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(m => m.CreateSegmentArea.Union_Name, new { @class = "form-control", id = "Union_Name", autocomplete = "off", vldid = "#Union_Name" })
                                                            <span class="validation-message-color" id="#Union_Name"><span class="ln-bangla">ইউনিয়নের নাম লিখুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="form-group row xs-nopadding-left wow fadeInUp animated">
                                                        <label class="control-label col-md-4">
                                                            <span class="ln-english">Ward Number</span><span class="ln-bangla">ওয়ার্ড নং</span> <span class="required" aria-required="true"> * </span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            @Html.TextBoxFor(m => m.CreateSegmentArea.WardNumber, new { @class = "form-control", id = "WardNumber", autocomplete = "off", vldid = "#WardNumber" })
                                                            <span class="validation-message-color" id="#WardNumber"><span class="ln-bangla">ওয়ার্ড নং নাম লিখুন</span></span>
                                                        </div>
                                                    </div>

                                                    <div class="row wow fadeInUp animated">
                                                        <div class="col-md-12 footer-button-btm-24">
                                                            <a class="btn btn-outline green dummy_back_btn pull-left" href="~/CreateSegment/Area" id="btnBack"><span id="spnBack"><span class="ln-english">Back</span><span class="ln-bangla">ফেরত যান</span> </span></a>
                                                            <button class="btn green pull-right" type="submit" onclick="return AreaCreateValidation();"> <span class="ln-english">Save</span><span class="ln-bangla">সংরক্ষণ করুন</span></button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    </div>

                                </div>

                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#listCreate").addClass("active");
        $("#divCompany").addClass("active");

        $(".k-upload-button").removeClass("k-button");
        $(".k-upload-button").addClass("btn btn-circle green btn-sm");

        $('#password').password({
            animate: false
        });

        OnchangeInputControl();


    });//end document ready


    function OnchangeInputControl() {
        $('input[type=text]').on("keyup", function (e) {
            var date = $(this).attr('isNotTextField');
            if (typeof date === 'undefined' || date == "false") {
                var id = $(this).attr('id');
                var value = $(this).val();
                if (value != null && value != "") {

                    $(this).closest("div").find('span').css("display", "none");
                }
                else {
                    $(this).closest("div").find('span').css("display", "block");
                }
            }
        });

    }



    function addPreview(file) {
        var raw = file.rawFile;
        var reader = new FileReader();

        if (raw) {
            reader.onloadend = function () {
                var preview = $("<img class='image-preview img-responsive dummy_divUplodedUserImg'>").attr("src", this.result);
                $(".dummy_UserImageContainerDiv").html(preview);
                $('#divDefaultUploadedUserImg').hide();
            };

            reader.readAsDataURL(raw);
        }
    }


    function onSelect(e) {

        $("#divForProfileImageValidation").hide();
        var files = e.files;

        var fullImageName = e.files["0"].name;
        var imageExtension = e.files["0"].extension;
        var exactImageName = fullImageName.replace(imageExtension, "");
        var fileInfo = e.files[0];
        setTimeout(function () {
            addPreview(fileInfo);
        });

        $.each(files, function () {

            if (this.size > 512000 && exactImageName.length > 90) {

                //image & name validation
                $('#ProfileImageValidationMessage').text("Maximum 500KB in size and 90 characters name are allowed for company logo.");
                $('#divForProfileImageValidation').show();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#divForProfileImageValidation").fadeOut(5000);

                e.preventDefault();
            }

            if (this.size > 512000 && exactImageName.length <= 90) {

                //image validation
                $('#ProfileImageValidationMessage').text("Maximum 500KB image allowed for company logo.");
                $("#divForProfileImageValidation").show();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#divForProfileImageValidation").fadeOut(5000);

                e.preventDefault();
            }

            if (this.size <= 512000 && exactImageName.length > 90) {

                //name validation
                $('#ProfileImageValidationMessage').text("Maximum 90 characters name allowed for company logo.");
                $("#divForProfileImageValidation").show();
                $("html, body").animate({ scrollTop: 0 }, "slow");
                $("#divForProfileImageValidation").fadeOut(5000);

                e.preventDefault();
            }
        });
    }

    function OErrorHandle(e) {
        try {

            if (e.XMLHttpRequest.status == 200) {
                $(".k-upload-files.k-reset").remove();
            }

            if (e.XMLHttpRequest.response) {
                $("#dummy_userImagePath").val(e.XMLHttpRequest.response);

            }

        } catch (err) {

        }
    }

    function onSuccess(e) {
        try {

            if (typeof e.response.DynamicHtml !== 'undefined' && e.response.DynamicHtml != null) {
                setTimeout(function () {

                    $('#divDefaultUploadedUserImg').hide();

                }, 4000);
            }

        }
        catch (err) {

        }
    }


    function AreaCreateValidation() {

        var isAllValid = true;
        var fishName = $.trim($("#FishName").val());
        var Union_Name = $.trim($("#Union_Name").val());
        var WardNumber = $.trim($("#WardNumber").val());

        $(".dummy_fields_error_msg").hide();
        $("#divExistingEmailMessage").hide();
        $("#divEmailMessage").hide();
        $("#divLicenseEndDateGreaterMsg").hide();
        $("#divConfirmPasswordMsg").text("Provide confirm password.");

        if (typeof fishName === 'undefined' || fishName == "") {
            isAllValid = false;
            $("#FishName").closest("div").find('span').css("display", "block");
        }

        if (typeof Union_Name === 'undefined' || Union_Name == "") {
            isAllValid = false;
            $("#Union_Name").closest("div").find('span').css("display", "block");
        }

        if (typeof WardNumber === 'undefined' || WardNumber == "") {
            isAllValid = false;
            $("#WardNumber").closest("div").find('span').css("display", "block");
        }

        return isAllValid;

    }

</script>